{% extends "layout.html" %}
{% block content %}
<main class="about bg_transp">
    <section>
        <div class="about_item">
            <img src="images/header.png" />
            <div class="container">
                <!-- <h2>We are experts in creating  the best customer feeling</h2>
                <p class="text">Do you prefer to shop in online stores? You probably know how 
                    important it is that the delivery of goods and cargo from the United States
                    to Azerbaijan takes place as quickly, safely and at favorable rates. If you
                    have never purchased anything in online stores in the United States, you 
                    have a great opportunity to plunge into the world of American shopping via
                    the Internet. Well, for those who have already appreciated all its advantages,
                    there is a great opportunity to do it even more profitably together with the
                    company Dex.az!</p>
                <p class="text">Discover unlimited shopping opportunities, fast delivery of goods 
                    from the United States with Dex.az</p> -->
            </div>
        </div>
    </section>
    <section>
        <div class="container about_us">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="item offer">
                        <p class="text">Shopping in American stores is 40-50% cheaper than in Azerbaijan.</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item item_exclusive">
                        <p class="text">Become the owner of exclusive items that can not be found in Azerbaijan online stores.</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item delivery">
                        <p class="text">Buy goods even in those online stores in the United States that do not provide for direct delivery to Azerbaijan.</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item credit_card">
                        <p class="text">Deliver parcels from the United States quickly and at a reasonable price.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}