{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container adresses">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <ul>
                        <li><a href="" title="">My addresses abroad</a></li>
                        <li><a href="" title="">My packages</a></li>
                        <li><a href="" title="">Declare beforehand</a></li>
                        <li><a href="" title="">Order for me</a></li>
                        <li><a href="" title="">Current order</a></li>
                        <li><a href="" title="">Courier</a></li>
                        <li><a href="" title="">Azerpost Delivery</a></li>
                        <li><a href="" title="">Wallet</a></li>
                        <li><a href="" title="">Family profile</a></li>
                        <li><a href="" title="">Trusted Persons</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>Current Month’s Order</label>
                                <div class="order">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Dollar Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Lira Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Current Debts</label>
                                <div class="debts">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>My addresses</h1>
                    </div>
                    <div class="right_content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>İsim Soyisim</label>
                                    <span class="text">Erlich Bachman</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="info_item">
                                    <label>İlçe / Semt</label>
                                    <span class="text">Eyüp</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>County</label>
                                    <span class="text">Eyüp</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>District</label>
                                    <span class="text">Alibeyköy Mah.</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>City</label>
                                    <span class="text">İstanbul</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>Mobile number</label>
                                    <span class="text">05435262202</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>Postal code</label>
                                    <span class="text">34060</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>TC Identity</label>
                                    <span class="text">28135930832</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>Address Title</label>
                                    <span class="text">Delivery Express</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info_item">
                                    <label>Receiver</label>
                                    <span class="text">Caspian Lojistik</span>
                                    <button class="copy_btn" aria-label="Copied">copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}