{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container basket">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <ul>
                        <li><a href="" title="">My addresses abroad</a></li>
                        <li><a href="" title="">My packages</a></li>
                        <li><a href="" title="">Declare beforehand</a></li>
                        <li><a href="" title="">Order for me</a></li>
                        <li><a href="" title="">Current order</a></li>
                        <li><a href="" title="">Courier</a></li>
                        <li><a href="" title="">Azerpost Delivery</a></li>
                        <li><a href="" title="">Wallet</a></li>
                        <li><a href="" title="">Family profile</a></li>
                        <li><a href="" title="">Trusted Persons</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <a href="" class="item">
                                <label>Current Month’s Order</label>
                                <div class="order">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="" class="item">
                                <label>My Dollar Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="" class="item">
                                <label>My Lira Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <a href="" class="item">
                                <label>My Current Debts</label>
                                <div class="debts">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Basket</h1>
                    </div>
                    <div class="right_content">
                        <div class="form">
                            <form>
                                <table class="table data_table order_table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Product Link</th>
                                        <th scope="col">Product Price</th>
                                        <th scope="col">Cargo Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col" colspan="2">Total Cost</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""></label>
                                                </div>
                                                <p>Tonny Black Toprak Unisex Sneaker
                                                    <span class="alert alert-default hint--top hint--bounce hidden_m" aria-label="Color: Red, Size: 47">i</span></p>
                                                <button class="button delete visible_m"></button>
                                            </td>
                                            <td><label>Product Price</label><p>97.12 TL</p></td>
                                            <td><label>Cargo Price</label><p>5.00 TL</p></td>
                                            <td><label>Quantity</label><p>5</p></td>
                                            <td><label>Total Cost</label><p>102.12 TL</p></td>
                                            <td class="visible_m">
                                                <p>Color: Red</p>
                                                <p>Size: 47</p>
                                            </td>
                                      </tr>
                                      <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""></label>
                                                </div>
                                                <p>Tonny Black Toprak Unisex Sneaker
                                                    <span class="alert alert-default hint--top hint--bounce hidden_m" aria-label="Color: Red, Size: 47">i</span></p>
                                                <button class="button delete visible_m"></button>
                                            </td>
                                            <td><label>Product Price</label><p>97.12 TL</p></td>
                                            <td><label>Cargo Price</label><p>5.00 TL</p></td>
                                            <td><label>Quantity</label><p>5</p></td>
                                            <td><label>Total Cost</label><p>102.12 TL</p></td>
                                            <td class="visible_m">
                                                <p>Color: Red</p>
                                                <p>Size: 47</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="order_btm">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-check">
                                                <label class="form-check-label"><input class="form-check-input" type="checkbox" value="">Urgent order</label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""></label>
                                                <p>I agree to all the <a href="" class="check_link">Term</a>, <a href="" class="check_link">Privacy Policy</a> and <a href="" class="check_link">Fees</a></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul>
                                                <li>
                                                    <label>Subtotal:</label>
                                                    <span class="price">599.98 USD</span>
                                                </li>
                                                <li>
                                                    <label>Dex.az rate (+5%):</label>
                                                    <span class="price">29.99 USD</span>
                                                </li>
                                                <li>
                                                    <label>Urgent order</label>
                                                    <span class="price">2.00 USD</span>
                                                </li>
                                                <li>
                                                    <label class="total">Total:</label>
                                                    <span class="total_price">631.97 USD</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="button" class="button btn_default full">Begin Checkout</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}