{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container familiy_account">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <ul>
                        <li><a href="" title="">My addresses abroad</a></li>
                        <li><a href="" title="">My packages</a></li>
                        <li><a href="" title="">Declare beforehand</a></li>
                        <li><a href="" title="">Order for me</a></li>
                        <li><a href="" title="">Current order</a></li>
                        <li><a href="" title="">Courier</a></li>
                        <li><a href="" title="">Azerpost Delivery</a></li>
                        <li><a href="" title="">Wallet</a></li>
                        <li><a href="" title="">Family profile</a></li>
                        <li><a href="" title="">Trusted Persons</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>Current Month’s Order</label>
                                <div class="order">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Dollar Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Lira Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Current Debts</label>
                                <div class="debts">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Family profile</h1>
                    </div>
                    <div class="referal_link">
                        <label>Referal link</label>
                        <span class="text">https://dex.az/register?parent=114738</span>
                        <button class="copy_btn" aria-label="Copied">copy</button>
                    </div>
                    <div class="right_content">
                        <table class="table data_table familiy_table">
                            <thead>
                              <tr>
                                <th scope="col">Customer ID</th>
                                <th scope="col">Name, Surname</th>
                                <th scope="col">Passport number</th>
                                <th scope="col">Dollar Balance</th>
                                <th scope="col" colspan="2">Lira Balance</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><p>Dex12345</p></td>
                                <td><p>Shohrat Salmanov<p class="visible_m customer_id">Dex12345</p></p></td>
                                <td><label>Passport number</label><p>AA1476674</p></td>
                                <td><label>Dollar Balance</label><p>999.99 $</p></td>
                                <td><label>Lira Balance</label><p>999.99 TL</p></td>
                                <td><button class="button btn_default">LOGIN</button></td>
                              </tr>
                              <tr>
                                <td><p>Dex12345</p></td>
                                <td><p>Shohrat Salmanov<p class="visible_m customer_id">Dex12345</p></p></td>
                                <td><label>Passport number</label><p>AA1476674</p></td>
                                <td><label>Dollar Balance</label><p>999.99 $</p></td>
                                <td><label>Lira Balance</label><p>999.99 TL</p></td>
                                <td><button class="button btn_default">LOGIN</button></td>
                              </tr>
                              <tr>
                                <td><p>Dex12345</p></td>
                                <td><p>Shohrat Salmanov<p class="visible_m customer_id">Dex12345</p></p></td>
                                <td><label>Passport number</label><p>AA1476674</p></td>
                                <td><label>Dollar Balance</label><p>999.99 $</p></td>
                                <td><label>Lira Balance</label><p>999.99 TL</p></td>
                                <td><button class="button btn_default">LOGIN</button></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}