{% extends "layout.html" %}
{% block content %}
<main>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">faq</li>
            </ol>
        </nav>
    </div>
    <section class="container faq">
        <div class="sec_title">
            <h1>How we can help you?</h1>
            <p class="text">Frequently Asked Questions</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="catg_block">
                    <h4>Categories</h4>
                    <ul>
                        <li><a href="">All</a></li>
                        <li><a href="">Pricing & Plans</a></li>
                        <li><a href="">Customs</a></li>
                        <li><a href="">Technical Problems</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="item">
                    <h3>Our advantages<span></span></h3>
                    <div class="content">
                        <p class="title">How does it work ?</p>
                        <strong>Register at Dex.az <br/>Get a foreign address in Turkey.</strong>
                        <ul>
                            <li><strong>Send the order to the address</strong></li>
                            <li>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                                uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                                asılı olaraq iki cür hesablana bilər:</li>
                        </ul>
                        <ul>
                            <li><strong>Receive your package.</strong></li>
                            <li>We deliver the product handed over to our warehouse to Azerbaijan within 3-5 working days.</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <h3>How is the delivery fee calculated?<span></span></h3>
                    <div class="content">
                        <ul>
                            <li><strong>Send the order to the address</strong></li>
                            <li>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                                uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                                asılı olaraq iki cür hesablana bilər:</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <h3>How many days will it take to deliver my order?<span></span></h3>
                    <div class="content">
                        <ul>
                            <li><strong>Send the order to the address</strong></li>
                            <li>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                                uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                                asılı olaraq iki cür hesablana bilər:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}