{% extends "layout.html" %}
{% block content %}
<section class="home_slider">
	<div class="slider">
		<div>
			<div class="item">
				<a class="img"><img src="images/slider-bg.png" alt="" /></a>
				<div class="title">
					<div class="container">
						<p class="animate__animated animate__fadeInRight">Congratulate your  women on March 8  with gifts from the USA!</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="item">
				<a class="img"><img src="images/slider-bg.png" alt="" /></a>
				<div class="title">
					<div class="container">
						<p class="animate__animated animate__fadeInRight">Congratulate your  women on March 8  with gifts from the USA!</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="item">
				<a class="img"><img src="images/slider-bg.png" alt="" /></a>
				<div class="title">
					<div class="container">
						<p class="animate__animated animate__fadeInRight">Congratulate your  women on March 8  with gifts from the USA!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container how_it_work">
		<div class="sec_title">
			<h1>How Do We Work?</h1>
			<a href="" class="button btn_default video open_popup" data-target=".video_instruction">Video Instruction</a>
		</div>
		<div class="row">
			<div class="col-lg-5">
				<img src="images/clip-online-shopping-8.svg" title="" alt="">
			</div>
			<div class="col-lg-7">
				<div class="row">
					<div class="col-6 col-lg-6">
						<div class="item">
							<label>Step 1.</label>
							<p class="title">Get a shipping address in  the USA</p>
							<p class="text">Register and get a personal delivery 
								address in the United States for 
								purchases in online stores.</p>
						</div>
					</div>
					<div class="col-6 col-lg-6">
						<div class="item">
							<label>Step 2.</label>
							<p class="title">Order the product in the online store</p>
							<p class="text">Register and get a personal delivery 
								address in the United States for 
								purchases in online stores.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6 col-lg-6">
						<div class="item">
							<label>Step 3.</label>
							<p class="title">Register your parcels in your personal account</p>
							<p class="text">Register and get a personal delivery 
								address in the United States for 
								purchases in online stores.</p>
						</div>
					</div>
					<div class="col-6 col-lg-6">
						<div class="item">
							<label>Step 4.</label>
							<p class="title">Get parcels in a convenient way</p>
							<p class="text">Register and get a personal delivery 
								address in the United States for 
								purchases in online stores.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container prices_delivery">
		<div class="sec_title">
			<h1>Prices and Delivery Time</h1>
			<p class="text">We have optimised our business processes to reduce 
				the cost of services, while maintaining a high quality of service.</p>
			<p class="text">After receiving your order, we track and control its 
				delivery. We will tell you how to minimize the cost of paying for
				a parcel, and also make sure that its weight and cost do not exceed
				the customs limit.</p>
		</div>
		<div class="tabs_flex tab_with_label">
			<ul class="tabs tabs1" data-target=".list_tab">
				<li class="active"><a class="usa">Usa</a></li>
				<li><a class="tr">Turkey</a></li>
			</ul>
		</div>
		<div class="list_tab tabs_content">
			<div class="active list_content" data-match-height=".item">
				<div class="row">
					<div class="col-12 col-lg-6">
						<table class="table left_table">
							<thead>
							  <tr>
								<th scope="col"></th>
								<th class="text-center" scope="col">Standart</th>
								<th class="text-center" scope="col">Liquid</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td><div>0.001 kg – <br/>0.100 kg</div></td>
								<td><div>1.5<sub>$</sub></div></td>
								<td><div>2.5<sub>$</sub></div></td>
							  </tr>
							  <tr>
								<td><div>0.101 kg – <br/>0.250 kg</div></td>
								<td><div>2.2<sub>$</sub></div></td>
								<td><div>3.2<sub>$</sub></div></td>
							  </tr>
							  <tr>
								<td><div>0.251 kg – <br/>0.500 kg</div></td>
								<td><div>3.0<sub>$</sub></div></td>
								<td><div>4.0<sub>$</sub></div></td>
							  </tr>
							  <tr>
								<td><div>0.501 kg – <br/>0.750 kg</div></td>
								<td><div>3.5<sub>$</sub></div></td>
								<td><div>4.5<sub>$</sub></div></td>
							  </tr>
							</tbody>
						</table>
					</div>
					<div class="col-12 col-lg-6">
						<table class="table right_table">
							<thead>
							  <tr>
								<th scope="col"></th>
								<th class="text-center" scope="col">Standart</th>
								<th class="text-center" scope="col">Liquid</th>
							  </tr>
							</thead>
							<tbody>
								<tr>
									<td><div>0.001 kg – <br/>0.100 kg</div></td>
									<td><div>1.5<sub>$</sub></div></td>
									<td><div>2.5<sub>$</sub></div></td>
								</tr>
								<tr>
									<td><div>0.101 kg – <br/>0.250 kg</div></td>
									<td><div>2.2<sub>$</sub></div></td>
									<td><div>3.2<sub>$</sub></div></td>
								</tr>
								<tr>
									<td><div>0.251 kg – <br/>0.500 kg</div></td>
									<td><div>3.0<sub>$</sub></div></td>
									<td><div>4.0<sub>$</sub></div></td>
								</tr>
								<tr class="bg_choco">
									<td colspan="2">
										<span class="delivery">We will deliver your parcel in 4-9 days  after 
										receiving it at our foreign warehouse.</span>
									</td>
									<td><span class="day">4–9 days</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="delivery_info_m">We will deliver your parcel in 4-9 days  after 
					receiving it at our foreign warehouse.</div>
			</div>
			<div data-match-height=".item" class="list_content">
				<div class="row">
					<div class="col-lg-6">
						<table class="table left_table">
							<thead>
							  <tr>
								<th scope="col"></th>
								<th class="text-center" scope="col">Standart</th>
								<th class="text-center" scope="col">Liquid</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td><div>0.001 kg – <br/>0.100 kg</div></td>
								<td><div>2.5<sub>$</sub></div></td>
								<td><div>3.5<sub>$</sub></div></td>
							  </tr>
							  <tr>
								<td><div>0.101 kg – <br/>0.250 kg</div></td>
								<td><div>2.2<sub>$</sub></div></td>
								<td><div>3.2<sub>$</sub></div></td>
							  </tr>
							  <tr>
								<td><div>0.251 kg – <br/>0.500 kg</div></td>
								<td><div>3.0<sub>$</sub></div></td>
								<td><div>4.0<sub>$</sub></div></td>
							  </tr>
							  <tr>
								<td><div>0.501 kg – <br/>0.750 kg</div></td>
								<td><div>3.5<sub>$</sub></div></td>
								<td><div>4.5<sub>$</sub></div></td>
							  </tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-6">
						<table class="table right_table">
							<thead>
							  <tr>
								<th scope="col"></th>
								<th class="text-center" scope="col">Standart</th>
								<th class="text-center" scope="col">Liquid</th>
							  </tr>
							</thead>
							<tbody>
								<tr>
									<td><div>0.001 kg – <br/>0.100 kg</div></td>
									<td><div>2.5<sub>$</sub></div></td>
									<td><div>3.5<sub>$</sub></div></td>
								</tr>
								<tr>
									<td><div>0.101 kg – <br/>0.250 kg</div></td>
									<td><div>4.2<sub>$</sub></div></td>
									<td><div>3.2<sub>$</sub></div></td>
								</tr>
								<tr>
									<td><div>0.251 kg – <br/>0.500 kg</div></td>
									<td><div>3.0<sub>$</sub></div></td>
									<td><div>4.0<sub>$</sub></div></td>
								</tr>
								<tr class="bg_choco">
									<td colspan="2">
										<span class="delivery">We will deliver your parcel in 4-9 days  after 
										receiving it at our foreign warehouse.</span>
									</td>
									<td><span class="day">4–9 days</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="delivery_info_m">We will deliver your parcel in 4-9 days  after 
					receiving it at our foreign warehouse.</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container calc">
		<div class="sec_title">
			<h1>Cost Calculator</h1>
			<p class="text">Air delivery from the USA is the fastest and most convenient way 
				to get your purchases, the delivery time is 4-9 working days from the date of shipment.</p>
		</div>
		<div class="form">
			<form>
				<div class="row">
					<div class="col-lg-9">
						<div class="row">
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<label class="label">Delivery from</label>
									<select>
										<option>United States</option>
										<option>Turkey</option>
									</select>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<label class="label">Package type</label>
									<select>
										<option>Standart</option>
										<option>Turkey</option>
									</select>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<label class="label">Weight</label>
									<input name="weight" class="validate[required,minSize[6]]" type="text" placeholder="0" />
									<span class="desc">kg</span>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<label class="label">Length</label>
									<input name="weight" class="validate[required,minSize[6]]" type="text" placeholder="0" />
									<span class="desc">sm</span>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<label class="label">Width</label>
									<input name="weight" class="validate[required,minSize[6]]" type="text" placeholder="0" />
									<span class="desc">sm</span>
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<label class="label">Height</label>
									<input name="weight" class="validate[required,minSize[6]]" type="text" placeholder="0" />
									<span class="desc">sm</span>
								</div>
							</div>
						</div>
						<div class="check_list">
							<p class="title">Additional Services</p>
							<div class="row">
								<div class="col-lg-4 additional_ser">
									<div class="form-check">
										<label class="form-check-label"><input class="form-check-input" type="checkbox" value="">Guarantee</label>
									</div>
									<span class="desc">2.00$</span>
								</div>
								<div class="col-lg-4 additional_ser">
									<div class="form-check">
										<label class="form-check-label"><input class="form-check-input" type="checkbox" value="">Additional packaging</label>
									</div>
									<span class="desc">2.00$</span>
								</div>
								<div class="col-lg-4 additional_ser">
									<div class="form-check">
										<label class="form-check-label"><input class="form-check-input" type="checkbox" value="">Repackaging</label>
									</div>
									<span class="desc">2.00$</span>
								</div>
								<div class="col-lg-4 additional_ser">
									<div class="form-check">
										<label class="form-check-label"><input class="form-check-input" type="checkbox" value="">Checking the content</label>
									</div>
									<span class="desc">2.00$</span>
								</div>
								<div class="col-lg-4 additional_ser">
									<div class="form-check">
										<label class="form-check-label"><input class="form-check-input" type="checkbox" value="">Content photos</label>
									</div>
									<span class="desc">2.00$</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 total_cost_block">
						<label class="label">Total cost</label>
						<ul>
							<li>
								<span>Shipping cost</span>
								<span>6.00$</span>
							</li>
							<li>
								<span>Additional cost. services</span>
								<span>4.00$</span>
							</li>
							<li class="total_cost">Total cost</li>
							<li class="price">10.00$ / 17.00 AZN</li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="news">
			<div class="sec_title">
				<h1>News & Updates</h1>
				<p class="text">Here are the latest updates on our services and a variety of informative blogs on different topics!</p>
			</div>
			<div class="row">
				<div class="slider">
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" alt="" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="link_wrap text-end"><a href="" class="all_link">SEE ALL UPDATES</a></div>
	</div>
</section>
<section>
	<div class="container stores">
		<div class="sec_title">
			<h1>Stores</h1>
			<p class="text">We have made Turkish stores close to you. Order online from the store you want with the most affordable shopping address Delivery Express, we will deliver.</p>
		</div>
		<div class="row">
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store1.png" alt="" /></div>
					<span class="text">Clothes</span>
					<span class="icon"></span>
				</a>
			</div>
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store2.svg" alt="" /></div>
					<span class="text">Clothes</span>
					<span class="icon"></span>
				</a>
			</div>
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store3.svg" alt="" /></div>
					<span class="text">Tech,<br/> Home suplies</span>
					<span class="icon"></span>
				</a>
			</div>
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store4.svg" alt="" /></div>
					<span class="text">Clothes</span>
					<span class="icon"></span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store5.svg" alt="" /></div>
					<span class="text">Clothes</span>
					<span class="icon"></span>
				</a>
			</div>
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store6.svg" alt="" /></div>
					<span class="text">Clothes</span>
					<span class="icon"></span>
				</a>
			</div>
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store7.svg" alt="" /></div>
					<span class="text">Tech,<br/> Home suplies</span>
					<span class="icon"></span>
				</a>
			</div>
			<div class="col-6 col-lg-3">
				<a href="" class="item">
					<div class="img"><img src="images/store8.svg" alt="" /></div>
					<span class="text">Clothes</span>
					<span class="icon"></span>
				</a>
			</div>
		</div>
		<div class="link_wrap text-end"><a href="" class="all_link">SEE ALL STORES</a></div>
	</div>
</section>
<div class="popup video_instruction">
	<div class="popup_inner">
		<button class="close"></button>
		<video autoplay="" loop="" controls="">
			<source type="video/mp4" src="https://endtest-videos.s3-us-west-2.amazonaws.com/documentation/endtest_data_driven_testing_csv.mp4">
		</video>
	</div>
</div>
{% endblock %}