{% extends "layout.html" %}
{% block content %}
<main class="contact">
    <section class="container">
        <div class="logo">
            <a href="index.html" class="logo"><img src="images/logo.svg" /></a>
        </div>
        <ul class="link_list">
            <li><a href="index.html" target="_blank">Ana səhifə</a></li>
            <li><a href="register.html" target="_blank">Qeydiyyat</a></li>
            <li><a href="login.html" target="_blank"></a></li>
            <li><a href="about.html" target="_blank"></a></li>
            <li><a href="settings.html" target="_blank"></a></li>
            <li><a href="prices.html" target="_blank"></a></li>
            <li><a href="services.html" target="_blank"></a></li>
            <li><a href="contact.html" target="_blank"></a></li>
            <li><a href="stores.html" target="_blank"></a></li>
            <li><a href="news.html" target="_blank"></a></li>
            <li><a href="faq.html" target="_blank"></a></li>
            <li><a href="addresses.html" target="_blank"></a></li>
            <li><a href="basket.html" target="_blank"></a></li>
            <li><a href="packages.html" target="_blank"></a></li>
            <li><a href="declare.html" target="_blank"></a></li>
            <li><a href="order-for-me.html" target="_blank"></a></li>
            <li><a href="current-orders.html" target="_blank"></a></li>
            <li><a href="courier.html" target="_blank"></a></li>
            <li><a href="azerpost-delivery.html" target="_blank"></a></li>
            <li><a href="wallet.html" target="_blank"></a></li>
            <li><a href="familiy-account.html" target="_blank"></a></li>
            <li><a href="trusted-persons.html" target="_blank"></a></li>
        </ul>
    </section>
</main>
{% endblock %}