{% extends "layout.html" %}
{% block content %}
<main class="news_details_page">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">news</li>
            </ol>
        </nav>
    </div>
    <section class="container">
        <div class="sec_title">
            <h1>Where to buy a winter<br/> jacket in the USA?</h1>
        </div>
        <div class="row">
            <div class="col-lg-9 detail">
                <span class="date">20.02.2021</span>
                <div class="img"><img src="images/news-detail-img.png"></div>
                <p>When you order from online shopping sites that accept Azerbaijani cards, if you want the package to be added to your account as soon as possible and delivered quickly, the package must be declared.</p>
                <p>The declaration must be completed between the delivery of the parcel to cargo and its delivery to the warehouse!</p>
                <p>Depending on the online store to get the code that needs to be written in the “Tracking ID” section when filling out the declaration, go to the section where written <strong>“KARGO TAKİP”</strong> or <strong>“KARGOM NEREDE?”</strong> .</p>
                <p>In the new window that opens, you will see <strong>“GÖNDERİ NUMARASI”</strong>.</p>
                <p>It should be noted that the declaration can be declared with <strong>“Trek nömrəsi”</strong>, <strong>“Gönderi numarası”</strong>, <strong>“Kargo takip numarası”</strong>, <strong>“Barkod numarası”</strong>, <strong>“Taşınma İrsaliye numarası”</strong>.</p>
                <p>These tracking numbers are assigned to each parcel individually and provide information on the status of the parcel.</p>
                <p>The package cannot be declared with <strong>“sipariş numarası”</strong> or <strong>“teslimat numarası”</strong>.</p>
                <div class="social_row">
                    <label>Share the news on social media.</label>
                    <ul class="social">
                        <li><a href="" class="instagram"></a></li>
                        <li><a href="" class="facebook"></a></li>
                        <li><a href="" class="twitter"></a></li>
                        <li><a href="" class="youtube"></a></li>
                    <ul>
                </div>
            </div>
            <div class="col-lg-3 other">
                <div class="block_title">Other news</div>
                <div class="news">
                    <div class="item_wrap">
                        <a class="item" href="">
                            <img src="images/news1.png" />
                            <span class="title">Homewear from the USA. Where is it better to buy?</span>
                            <div class="item_btm">
                                <span class="date">12 Fev, 2021</span>
                                <span class="catg">Clothes</span>
                            </div>
                        </a>
                    </div>
                    <div class="item_wrap">
                        <a class="item" href="">
                            <img src="images/news2.png" />
                            <span class="title">Homewear from the USA. Where is it better to buy?</span>
                            <div class="item_btm">
                                <span class="date">12 Fev, 2021</span>
                                <span class="catg">Clothes</span>
                            </div>
                        </a>
                    </div>
                    <div class="item_wrap">
                        <a class="item" href="">
                            <img src="images/news1.png" />
                            <span class="title">Homewear from the USA. Where is it better to buy?</span>
                            <div class="item_btm">
                                <span class="date">12 Fev, 2021</span>
                                <span class="catg">Clothes</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}