{% extends "layout.html" %}
{% block content %}
<main>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">news</li>
            </ol>
        </nav>
    </div>
    <section class="container news_page">
        <div class="sec_title">
            <h1 class="hidden_m">All News and Updates</h1>
            <h1 class="visible_m">News & Updates</h1>
            <p class="text">Here are the latest updates on our services and a variety of informative blogs on different topics!</p>
        </div>
        <div class="news">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="item_wrap">
						<a class="item" href="">
							<img src="images/news2.png" />
							<span class="title">Homewear from the USA. Where is it better to buy?</span>
							<div class="item_btm">
								<span class="date">12 Fev, 2021</span>
								<span class="catg">Clothes</span>
							</div>
						</a>
					</div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}