{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container order">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <ul>
                        <li><a href="" title="">My addresses abroad</a></li>
                        <li><a href="" title="">My packages</a></li>
                        <li><a href="" title="">Declare beforehand</a></li>
                        <li><a href="" title="">Order for me</a></li>
                        <li><a href="" title="">Current order</a></li>
                        <li><a href="" title="">Courier</a></li>
                        <li><a href="" title="">Azerpost Delivery</a></li>
                        <li><a href="" title="">Wallet</a></li>
                        <li><a href="" title="">Family profile</a></li>
                        <li><a href="" title="">Trusted Persons</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>Current Month’s Order</label>
                                <div class="order">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Dollar Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Lira Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Current Debts</label>
                                <div class="debts">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Order For Me</h1>
                    </div>
                    <div class="right_content">
                        <div class="form">
                            <form>
                                <div class="details_block">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="label">Link to product No.1</label>
                                                <input type="text" class="form-control" placeholder="Ex.: www.amazon.com//"/>
                                                <button type="button" class="delete"><span>Delete item</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label class="label">Product price</label>
                                                <input class="form-control" type="text" placeholder="Ex.: 999.99" />
                                                <span class="input_desc">USD</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label class="label">Quantity </label>
                                                <div class="number-spinner">
                                                    <input type="text" class="pl-ns-value" max="20" min="0" value="0"/>
                                                    <span class="ns-btn plus">
                                                        <a data-dir="up" class="up"><img src="images/add.svg" title="" alt="" /></a>
                                                    </span>
                                                    <span class="ns-btn minus">
                                                        <a data-dir="dwn" class="dwn"><img src="images/remove.svg" title="" alt="" /></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label class="label">Cargo Price</label>
                                                <input class="form-control" type="text" placeholder="Ex.: 999.99" />
                                                <span class="input_desc">USD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="form-group">
                                            <label class="label">Additional info</label>
                                            <textarea placeholder="Additional info about your custom order"></textarea>
                                        </div>
                                    </div>
                                    <div class="details_btm text-end">
                                        <div>
                                            <label>Product price:</label>
                                            <p class="price">299.99 USD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="details_block">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="label">Link to product No. 2</label>
                                                <input type="text" class="form-control" placeholder="Ex.: www.amazon.com//"/>
                                                <button type="button" class="delete"><span>Delete item</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label class="label">Product price</label>
                                                <input class="form-control" type="text" placeholder="Ex.: 999.99" />
                                                <span class="input_desc">USD</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label class="label">Quantity </label>
                                                <div class="number-spinner">
                                                    <input type="text" class="pl-ns-value" max="20" min="0" value="0"/>
                                                    <span class="ns-btn plus">
                                                        <a data-dir="up" class="up"><img src="images/add.svg" title="" alt="" /></a>
                                                    </span>
                                                    <span class="ns-btn minus">
                                                        <a data-dir="dwn" class="dwn"><img src="images/remove.svg" title="" alt="" /></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label class="label">Cargo Price</label>
                                                <input class="form-control" type="text" placeholder="Ex.: 999.99" />
                                                <span class="input_desc">USD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="additional_info">
                                        <div class="form-group">
                                            <label class="label">Additional info</label>
                                            <textarea placeholder="Additional info about your custom order"></textarea>
                                        </div>
                                    </div>
                                    <div class="details_btm">
                                        <a href="" class="button btn_success">ADD NEW Link</a>
                                        <div>
                                            <label>Product price:</label>
                                            <p class="price">299.99 USD</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="order_btm">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-check">
                                                <label class="form-check-label"><input class="form-check-input" type="checkbox" value="">Urgent order</label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""></label>
                                                <p>I agree to all the <a href="" class="check_link">Term</a>, <a href="" class="check_link">Privacy Policy</a> and <a href="" class="check_link">Fees</a></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul>
                                                <li>
                                                    <label>Subtotal:</label>
                                                    <span class="price">599.98 USD</span>
                                                </li>
                                                <li>
                                                    <label>Dex.az rate (+5%):</label>
                                                    <span class="price">29.99 USD</span>
                                                </li>
                                                <li>
                                                    <label>Urgent order</label>
                                                    <span class="price">2.00 USD</span>
                                                </li>
                                                <li>
                                                    <label class="total">Total:</label>
                                                    <span class="total_price">631.97 USD</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="button" class="button btn_default full">Begin Checkout</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}