{% extends "layout.html" %}
{% block content %}
<main class="bg_transp">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">tariffs</li>
            </ol>
        </nav>
    </div>
    <section class="tariffs">
        <div class="container prices_delivery">
            <div class="sec_title page_title">
                <h1>Our Prices and Delivery Time</h1>
                <p class="text">We have optimised our business processes to reduce 
                    the cost of services, while maintaining a high quality of service.</p>
                <p class="text">After receiving your order, we track and control its 
                    delivery. We will tell you how to minimize the cost of paying for
                    a parcel, and also make sure that its weight and cost do not exceed the customs limit.</p>
            </div>
            <div class="tabs_flex tab_with_label">
                <ul class="tabs tabs1" data-target=".list_tab">
                    <li class="active"><a class="usa">Usa</a></li>
                    <li><a class="tr">Turkey</a></li>
                </ul>
            </div>
            <div class="list_tab tabs_content">
                <div class="active list_content" data-match-height=".item">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table left_table">
                                <thead>
                                  <tr>
                                    <th scope="col"></th>
                                    <th class="text-center" scope="col">Standart</th>
                                    <th class="text-center" scope="col">Liquid</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><div>0.001 kg – <br/>0.100 kg</div></td>
                                    <td><div>1.5<sub>$</sub></div></td>
                                    <td><div>2.5<sub>$</sub></div></td>
                                  </tr>
                                  <tr>
                                    <td><div>0.101 kg – <br/>0.250 kg</div></td>
                                    <td><div>2.2<sub>$</sub></div></td>
                                    <td><div>3.2<sub>$</sub></div></td>
                                  </tr>
                                  <tr>
                                    <td><div>0.251 kg – <br/>0.500 kg</div></td>
                                    <td><div>3.0<sub>$</sub></div></td>
                                    <td><div>4.0<sub>$</sub></div></td>
                                  </tr>
                                  <tr>
                                    <td><div>0.501 kg – <br/>0.750 kg</div></td>
                                    <td><div>3.5<sub>$</sub></div></td>
                                    <td><div>4.5<sub>$</sub></div></td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table right_table">
                                <thead>
                                  <tr>
                                    <th scope="col"></th>
                                    <th class="text-center" scope="col">Standart</th>
                                    <th class="text-center" scope="col">Liquid</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><div>0.001 kg – <br/>0.100 kg</div></td>
                                        <td><div>1.5<sub>$</sub></div></td>
                                        <td><div>2.5<sub>$</sub></div></td>
                                    </tr>
                                    <tr>
                                        <td><div>0.101 kg – <br/>0.250 kg</div></td>
                                        <td><div>2.2<sub>$</sub></div></td>
                                        <td><div>3.2<sub>$</sub></div></td>
                                    </tr>
                                    <tr>
                                        <td><div>0.251 kg – <br/>0.500 kg</div></td>
                                        <td><div>3.0<sub>$</sub></div></td>
                                        <td><div>4.0<sub>$</sub></div></td>
                                    </tr>
                                    <tr class="bg_choco">
                                        <td colspan="2">
                                            <span class="delivery">We will deliver your parcel in 4-9 days  after 
                                            receiving it at our foreign warehouse.</span>
                                        </td>
                                        <td class="bg_choco"><span class="day">4–9 days</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div data-match-height=".item" class="list_content">
                    jjh
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}