{% extends "layout.html" %}
{% block content %}
<main>
    <section class="container register_page">
        <div class="sec_title">
            <h1>Register</h1>
        </div>
        <div class="form">
            <form method="post" class="validation" action="">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">Name*</label>
                            <input name="name" class="validate[required]" type="text" placeholder="Name" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">Surname*</label>
                            <input name="name" class="validate[required]" type="text" placeholder="Surname" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">E-mail or User ID</label>
                            <input name="email" class="validate[required,custom[email]]" type="email" placeholder="example@domain.com" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">Phone number</label>
                            <input name="" class="validate[required]" data-mask="phone"  type="text" placeholder="(+994) __ ___ __ __" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">City*</label>
                            <select>
                                <option>Select the city</option>
                                <option>Baku</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">Address*</label>
                            <input name="" class="validate[required]" type="text" placeholder="Example str., Home №, Apartment №" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="label">ID Serie*</label>
                                    <select>
                                        <option>AZE</option>
                                        <option>AA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label class="label">ID Number*</label>
                                    <input name="" class="validate[required]" type="text" placeholder="12345678" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">FIN Number*</label>
                            <input name="" class="validate[required]" type="text" placeholder="ABC1234" />
                            <div class="fin"><span></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">Password*</label>
                            <input name="password" class="validate[required,minSize[6]] password" type="password" />
                            <div class="hide-show pass_visibility"><span></span></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label class="label">Repeat Pasword*</label>
                            <input name="password" class="validate[required,minSize[6]] password" type="password" />
                            <div class="hide-show pass_visibility pass_confirm"><span></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-check">
                            <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""></label>
                            <p>I agree to all the <a href="" class="check_link">Term</a>, <a href="" class="check_link">Privacy Policy</a> and <a href="" class="check_link">Fees</a></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <button type="button" class="button btn_default full open_popup" data-target=".success_popup">Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="popup success_popup">
            <div class="popup_inner">
                <div class="popup_header"><button class="close"></button></div>
                <div class="content">
                    <p>Login was succesfull.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}