{% extends "layout.html" %}
{% block content %}
<main>
    <section class="reset_password">
        <div class="sec_title">
            <h1>Reset password</h1>
        </div>
        <div class="form">
            <form method="post" class="validation" action="">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="label">Password*</label>
                            <input name="password" class="validate[required,minSize[6]] password" type="password" />
                            <div class="hide-show pass_visibility"><span></span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="label">Repeat Pasword*</label>
                            <input name="password" class="validate[required,minSize[6]] password" type="password" />
                            <div class="hide-show pass_visibility pass_confirm"><span></span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group d-flex">
                            <button type="button" class="button btn_default">Reset</button>
                            <a href="" class="back_link">Back to Home Page</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="popup error_popup">
            <div class="popup_inner">
                <div class="popup_header"><button class="close"></button></div>
                <div class="content">
                    <p>The password you entered is incorrect.</p>
                    <a href="" class="forgot_password_link">Forggotten password?</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}