{% extends "layout.html" %}
{% block content %}
<main class="bg_transp">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">our services</li>
            </ol>
        </nav>
    </div>
    <section class="container services">
        <div class="sec_title">
            <h1>Our services</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="item transportation_of_parcels">
                    <p class="title">Transportation of Parcels</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item order_service">
                    <p class="title">“Order” Service</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="item free_insurance">
                    <p class="title">Free Insurance</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item refund_service">
                    <p class="title">Refund Service</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="item online_courier">
                    <p class="title">Online Courier Order</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item delivery_by_mail">
                    <p class="title">Delivery by Mail</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="item payment_at_door">
                    <p class="title">Payment at the Door</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item operational_customer">
                    <p class="title">Operational customer service</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}