{% extends "layout.html" %}
{% block content %}
<main>
    <section class="container settings">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <ul>
                        <li><a href="" title="">My addresses abroad</a></li>
                        <li><a href="" title="">My packages</a></li>
                        <li><a href="" title="">Declare beforehand</a></li>
                        <li><a href="" title="">Order for me</a></li>
                        <li><a href="" title="">Current order</a></li>
                        <li><a href="" title="">Courier</a></li>
                        <li><a href="" title="">Azerpost Delivery</a></li>
                        <li><a href="" title="">Wallet</a></li>
                        <li><a href="" title="">Family profile</a></li>
                        <li><a href="" title="">Trusted Persons</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>Current Month’s Order</label>
                                <div class="order">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Dollar Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Lira Balance</label>
                                <div class="balance">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="" class="item">
                                <label>My Current Debts</label>
                                <div class="debts">
                                    <div class="img"></div>
                                    <span class="desc">299.00 $</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Settings</h1>
                    </div>
                    <div class="right_content">
                        <div class="form">
                            <form>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">Name*</label>
                                            <input name="name" class="validate[required]" type="text" placeholder="Name" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">Surname*</label>
                                            <input name="name" class="validate[required]" type="text" placeholder="Surname" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">E-mail or User ID</label>
                                            <input name="email" class="validate[required,custom[email]]" type="email" placeholder="example@domain.com" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">Phone number</label>
                                            <input name="" class="validate[required]" data-mask="phone"  type="text" placeholder="(+994) __ ___ __ __" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">City*</label>
                                            <select>
                                                <option>Select the city</option>
                                                <option>Baku</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">Address*</label>
                                            <input name="" class="validate[required]" type="text" placeholder="Example str., Home №, Apartment №" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="row">
                                            <div class="col-5 col-lg-5">
                                                <div class="form-group">
                                                    <label class="label">ID Serie*</label>
                                                    <select>
                                                        <option>AZE</option>
                                                        <option>AA</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-7 col-lg-7">
                                                <div class="form-group">
                                                    <label class="label">ID Number*</label>
                                                    <input name="" class="validate[required]" type="text" placeholder="12345678" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">FIN Number*</label>
                                            <input name="" class="validate[required]" type="text" placeholder="ABC1234" />
                                            <div class="fin"><span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">Current Password</label>
                                            <input name="password" class="validate[required,minSize[6]] password" type="password" />
                                            <div class="hide-show pass_visibility"><span></span></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">New Password</label>
                                            <input name="password" class="validate[required,minSize[6]] password" type="password" />
                                            <div class="hide-show pass_visibility pass_confirm"><span></span></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="label">Repeat New Pasword</label>
                                            <input name="password" class="validate[required,minSize[6]] password" type="password" />
                                            <div class="hide-show pass_visibility pass_confirm"><span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="button btn_default full">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}