{% extends "layout.html" %}
{% block content %}
<main class="stores_page">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">stores</li>
            </ol>
        </nav>
    </div>
    <section class="container">
        <div class="sec_title">
            <h1 class="hidden_m">Stores you can buy from</h1>
            <h1 class="visible_m">Stores</h1>
            <p class="text">We have made Turkish stores close to you. Order online from
                 the store you want with the most affordable shopping address Delivery Express,
                  we will deliver.</p>
        </div>
        <div class="stores">
            <select>
                <option>All categories</option>
                <option>AAA</option>
            </select>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Tech,<br/> Home suplies</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Tech,<br/> Home suplies</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Tech,<br/> Home suplies</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 ol-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/market4.png" /></div>
                        <span class="text">Tech,<br/> Home suplies</span>
                        <span class="icon"></span>
                    </a>
                </div>
                <div class="col-6 col-lg-3">
                    <a href="" class="item">
                        <div class="img"><img src="images/store7.svg" /></div>
                        <span class="text">Clothes</span>
                        <span class="icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}